{% extends "base.html" %}

{% block head %}
{{super()}}
<style>
    tr.htmx-swapping td {
        opacity: 0;
        transition: opacity 1s ease-out;
    }
</style>
{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        {% include "messages.html" %}
        <div class="columns">
            <div class="column">
                <h1 class="title has-text-centered">Activity Tracker</h1>
                <div class="buttons is-centered">
                    <a href="{{url_for('tracker.edit_activity')}}" class="button is-link">
                        <span class="icon">
                            <i class="fa-solid fa-plus"></i>
                        </span>
                        <span>New Activity</span>
                    </a>
                </div>
                <div class="tabs is-boxed">
                    <ul>
                        <li class="is-active"><a>Upcoming</a></li>
                        <li><a>Graveyard</a></li>
                        <li><a>All</a></li>
                    </ul>
                </div>
                <table class="table is-fullwidth">
                    <thead>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Finished Tasks</th>
                    <th>Last Active</th>
                    <th>Life Span</th>
                    <th></th>
                    </thead>
                    <tbody>
                    {% for a in activities %}
                    <tr>
                        <td>
                            <a href="{{url_for('tracker.show_tasks', activity_id=a.id)}}">
                            {% if a.life_span_days == 0 %}
                            <strong class="has-text-danger">{{a.title}}</strong>
                            <span class="icon">
                                <i class="fa-solid fa-skull-crossbones has-text-danger"></i>
                            </span>
                            {% else %}
                                {{a.title}}
                            {% endif %}
                            </a>
                        </td>
                        <td>{{a.description}}</td>
                        <td>
                            <p>
                                {{a.start_at|humanizedt}}
                            </p>
                            <p>
                                {{a.start_at|localdatetime}}
                            </p>
                        </td>
                        <td>
                            {% if a.remaining_days > 3 %}
                            {{a.end_at|humanizedt}}
                            {% else %}
                            <strong class="has-text-danger">
                                {{a.end_at|humanizedt}}
                            </strong>
                            {% endif %}
                            <progress class="progress {% if a.remaining_days > 3 %} is-warning {% else %} is-danger {% endif %} is-small"
                                      value="{{a.remaining_days}}"
                                      max="30"
                            >
                            </progress>
                            {{a.end_at|localdatetime}}
                        </td>
                        <td>
                            {{a.tasks.count() - a.unfinished_tasks}}/{{a.tasks.count()}}
                            <progress class="progress is-success is-small"
                                      value="{{a.tasks.count() - a.unfinished_tasks}}"
                                      max="{{a.tasks.count()}}"
                            >
                            </progress>
                        </td>
                        <td>
                            <p>
                                {{a.last_active|humanizedt or ''}}
                            </p>
                            {{a.last_active|localdatetime or ''}}
                        </td>
                        <td>
                            {{a.life_span_days}} days
                            <progress class="progress {% if a.life_span_days > 14 %} is-success {% else %} is-danger {% endif %} is-small"
                                      value="{{a.life_span_days}}"
                                      max="30"
                            >
                            </progress>
                        </td>
                        <td>
                            <a hx-confirm="Are you sure?" class="button is-small"
                               hx-target="closest tr"
                               hx-swap="outerHTML swap:1s"
                               hx-patch="{{url_for('tracker.edit_activity', activity_id=a.id, _method='PATCH')}}"
                            >
                                <span class="icon">
                                    <i class="fa-solid fa-circle-check"></i>
                                </span>
                                <span>finish</span>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}
