<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href={{url_for('tracker.index')}} class="navbar-item">
                Tracker Home
            </a>
        </div>
        <div class="navbar-end">
            {% if not current_user.is_authenticated %}
            <div class="navbar-item">
                <div class="buttons">
                    <a href="{{url_for('auth.login')}}" class="button is-link">
                        Log in
                    </a>
                </div>
            </div>
            {% else %}
            <div class="navbar-item">
                <span class="icon">
                    <i class="fa-solid fa-user"></i>
                </span>
                <span>{{current_user.email}}</span>
            </div>
            <div class="navbar-item">
                <div class="buttons">
                    <a href="{{url_for('auth.logout')}}" class="button is-light">
                        Log out
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</nav>